<p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name','country.name','representative.name','status']"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Users</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..."
                >
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id</th>
            <th pSortableColumn="first_name">
                First Name
                <p-sortIcon field="first_name"></p-sortIcon>
            </th>
            <th pSortableColumn="last_name">
                Last Name
                <p-sortIcon field="last_name"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
                Email
                <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="role">
                Role
                <p-sortIcon field="role"></p-sortIcon>
            </th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        ngFor
        let-user
        [ngForOf]="users"
        let-i="index"
    >
        <tr>
            <td class="v-90px">{{findIndexById(user.id) + 1}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
                <span
                    [class]="'product-badge status-' + 'customer'"
                    *ngIf="user.role===1"
                >
                    Customer
                </span>
                <span
                    [class]="'product-badge status-' + 'operator'"
                    *ngIf="user.role===0"
                >
                    Operator
                </span>
            </td>
            <td>
                <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success p-mr-2"
                    (click)="editUser(user)"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteUser(user)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{users ? users.length : 0 }} users.
        </div>
    </ng-template>
</p-table>
