mdb-navbar {
 background-color: #f73f52;
 z-index: 100;
}

ul {
  li {
    a {
      font-size: 17px !important;
    }
  }
}

img {
  width: 50px;
  margin-right: 10px;
  height: 50px;
  object-fit: cover;
}

.v-svg {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  height: 100%;
  margin-right: 20px;
  path {
    fill: #fff;
    stroke-width: 3;
  }
}

svg {
  cursor: pointer;
}
