.v-container {
  min-height: 800px;
  padding: 0 2rem 0 2rem;
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .card {
    margin-top: 120px;
  }
}

.v-txt {
  min-width: 120px;
  text-overflow: ellipsis;
}

.v-90px {
  width: 90px !important;
}

.v-110px {
  width: 110px !important;
}

.v-120px {
  width: 120px !important;
}

.v-135px {
  width: 135px !important;
}

.v-150px {
  width: 150px !important;
}

.v-200px {
  width: 200px !important;
}

:host ::ng-deep .v-category .p-dropdown  {
  height: 39.55px !important;
}

td img {
  max-height: 100px !important;
}

.v-w15 {
  min-width: 15%;
}

.product-badge.status-inprogress {
  background: #93c8f3;
  color: #015cb1;
}

.product-badge.status-accept {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-denied {
  background: #ffcdd2;
  color: #c63737;
}

.product-badge.status-cancel {
  background: #FBC02D;
  color: #503b05;
}

.v-link {
  color: blue;
  cursor: pointer;
}
