<p-toast position="bottom-left"></p-toast>
<app-header></app-header>
<app-slide-show></app-slide-show>
<div class="v-body">
    <button
        *ngIf="pageYoffset > 100"
        class="scroll-top"
        mdbTooltip="Scroll to Top"
        placement="top"
        (click)="scrollTop()"
    >
        <i class="pi pi-angle-up"></i>
    </button>


    <div class="v-list-room">
        <div class="v-title-header">
            <div class="v-properties-title">Rental Properties</div>
            <p-dropdown
                [options]="sort"
                [(ngModel)]="selectedSort"
                (onChange)="selectSort()"
                placeholder
                optionLabel="name"
                [showClear]="true"
            ></p-dropdown>
        </div>
        <ng-container *ngFor="let item of listRoom">
            <div class="v-item">
                <div
                    class="v-hover-opacity"
                    [routerLink]="['/room', item._id]"
                ></div>
                <div class="v-price">
                  {{formatPrice(item.price)}}
                  <span *ngIf="item.price">VNĐ</span>
                </div>
                <div class="v-img">
                    <img [src]="item.photo[0]?.img_url">
                </div>
                <div class="v-description">
                    <div class="v-title">
                        {{item.title}}
                    </div>
                    <div class="v-info">
                        <div class="v-area">
                            <mdb-icon
                                fas
                                icon="expand"
                            ></mdb-icon>
                            {{formatPrice(item.area)}}
                  <span *ngIf="item.area">m2</span>
                        </div>
                        <div class="v-dot">·</div>
                        <div class="v-address">
                            <mdb-icon
                                fas
                                icon="map-marker-alt"
                            ></mdb-icon>
                            {{getAddress(item.ward, item.district, item.city)}}
                        </div>
                    </div>
                    <div class="v-des-text">
                        {{item.description}}
                    </div>
                    <div class="v-item-footer">
                        <div class="v-time">Date: {{item.date_time}}</div>
                        <i
                            class="pi pi-star-o"
                            mdbTooltip="Marks Room"
                            placement="top"
                            (click)="addSingle()"
                            style="font-size: 2.35rem;justify-content: flex-end;display: flex;cursor: pointer; z-index: 5;"
                        ></i>
                    </div>
                </div>
            </div>
        </ng-container>



        <app-pagination
            [totalRecord]="totalRecord"
            [currentPage]="currentPage"
            [totalPage]="totalPage"
            (currentPageChange)="selectPage($event)"
        ></app-pagination>
    </div>
    <div class="v-suggest">
        <div class="v-category">
            <div class="v-suggest-title">Category</div>
            <div class="v-suggest-tag">
                <mdb-badge default="true">Townhouse</mdb-badge>
                <mdb-badge primary="true">House</mdb-badge>
                <mdb-badge success="true">Room</mdb-badge>
                <mdb-badge info="true">Villa</mdb-badge>
            </div>
        </div>
        <div class="v-category">
            <div class="v-suggest-title">Address</div>
            <div class="v-suggest-tag">
                <mdb-badge danger="true">Đà Nẵng</mdb-badge>
                <mdb-badge warning="true">Hà Nội</mdb-badge>
                <mdb-badge class="mdb-color lighten-2">Hồ Chí Minh</mdb-badge>
                <mdb-badge class="purple">Nha Trang</mdb-badge>
            </div>
        </div>
        <div class="v-category">
            <div class="v-suggest-title">Price</div>
            <div class="v-suggest-tag">
                <mdb-badge class="pink">500,000 VNĐ</mdb-badge>
                <mdb-badge class="deep-purple accent-1">1,000,000 VNĐ</mdb-badge>
                <mdb-badge class="light-green">1,500,000 VNĐ</mdb-badge>
                <mdb-badge class="cyan accent-3">2,000,000 VNĐ</mdb-badge>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
