.v-body {
  padding: 0 2rem 0 2rem;
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.v-list-room {
  width: 85%;
  padding: 0px 10px 10px 10px;
  .v-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: 250px !important;
    min-height: 250px !important;
    border: 2px solid grey;
    position: relative;
    margin-bottom: 20px;
    justify-content: space-between;
    cursor: pointer;
    .v-img {
      width: 30%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px 0px 0px 5px;
      }
    }
    .v-description {
      width: 69%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .v-title {
        color: #b08bf8;
        font-size: 18px;
        font-weight: bold;
      }
      .v-info {
        display: flex;
        flex-direction: row;
        .v-dot {
          font-size: 14px;
          font-weight: bold;
        }
        .v-area {
          margin-right: 25px;
          font-weight: 700;
          font-size: 17px;
          mdb-icon {
            margin-right: 5px;
          }
        }
        .v-address {
          margin-left: 25px;
          font-weight: 700;
          font-size: 17px;
          mdb-icon {
            margin-right: 5px;
          }
        }
      }
      .v-des-text {
        display: block;
        display: -webkit-box;
        max-height: 80px;
        min-height: 80px;
        max-width: 100%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .v-item-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .v-price {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 15px;
      color: white !important;
      border-radius: 5px;
      background-color: #b08bf8;
      padding: 3px 5px;
    }
  }
}

.v-suggest {
  width: 14%;
  display: flex;
  flex-direction: column;
  .v-category {
    display: flex;
    flex-direction: column;
    border: 3px solid #b08bf8;
    padding: 10px 5px 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}

.v-suggest-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 2px solid #b08bf8;
}

mdb-badge {
  font-size: 17px;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.v-item:hover .v-hover-opacity{
  background-color: #b08bf8;
  opacity: 0.2;
  z-index: 2;
}

.v-hover-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
}

.v-time {
  color: #747C87 !important;
  font-size: 14px;
}

.v-title-header {
  border-bottom: 1px dotted #ccc;
  padding: 20px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .v-properties-title {
    font-size: 22px;
    font-weight: bold;
  }
}

:host ::ng-deep span.p-dropdown-label.p-inputtext.ng-star-inserted {
  font-weight: 400 !important;
  font-size: 16px;
}
.v-time {
  .pi  {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 20px;
  }
}

.v-no-found {
  height: 500px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #b08bf8;
  opacity: 0.2;
  .v-no-found-txt {
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
  }
}

.v-flex {
  display: flex;
  flex-direction: row;
  span {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-weight: bold;
    color: #b08bf8;
  }
}

// header
.v-header img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.v-header .search {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
}


// search
:host ::ng-deep .p-dropdown {
  font-size: 18px;
  min-width: 100%!important;
}

p-dropdown {
  width: 24% !important;
  min-width: 24% !important;
}
$primary: rgb(182, 157, 230);
.search .v-container {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.search .v-left {
  width: 55%;
  min-width: 800px !important;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 1rem 2rem;
}
.search .v-right {
  width: 15%;
  min-width: 250px !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 1rem 2rem;
}
.search .v-address {
  display: flex;
  justify-content: space-between;
}

.search .v-price {
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  .v-price-title {
    font-weight: bold !important;

  }
}

:host ::ng-deep span.p-slider-range.ng-star-inserted {
  background: #b08bf8 !important;
}

:host ::ng-deep span.p-dropdown-label.p-inputtext.ng-star-inserted {
  font-weight: 400 !important;
  font-size: 16px;
}

.search button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 12px 35px;
  font-weight: bold;
  margin-top: 5px;
  background-color: saturate($primary, 30%);
  color: #fff;
  font-size: 16px;
  margin-left: auto;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba($primary, 0.65);
    &:active {
      transform: scale(0.99);
    }
  }
}

.search .v-right-description {
  color: white;
}

.search h3, h4 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.search .v-price-text {
  font-size: 17px;
  margin-bottom: 0.25rem !important;
}

.search .v-learmore {
  justify-self: center;
  text-align: center;
}

.search .v-slider {
  display: flex;
  width: calc(100% - 125px - 30px);
  justify-content: space-between;
  div {
    min-width: 45%;
    .v-result {
      font-size: 15px;
    }
  }
}
