<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-10" src="https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg" alt="Third slide">
  </mdb-carousel-item>
  <div class="search">
    <app-search></app-search>
  </div>
</mdb-carousel>
