<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-10" src="../../../assets/img/room1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/img/room4.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/img/room5.jpg" alt="Third slide">
  </mdb-carousel-item>
  <div class="search">
    <app-search (searchRoom)="clickSearchHeader()"></app-search>
  </div>
</mdb-carousel>
