<!--CREDITS TO UNSPLASH.COM FOR THE USED PICTURES-->


<section class="perso">
  <ul>
    <li><p>Introduction<span></span></p></li>
    <li><p>Service<span></span></p></li>
    <li><p>Address<span></span></p></li>
    <li><p>Jay Nicolson<span></span></p></li>
    <li><p>Bork Nohan<span></span></p></li>
  </ul>
</section>

<!-- PAGE CONTENT, Order is important, nth-of-type is used -->

<article class="john">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>John Doe</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="steve">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Steve McQueen</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="petra">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Petra Kristen</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="jay">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Jay Nicolson</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="bork">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Bork Nohan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>

<!--FILTER SVG FOR MOTION BLUR-->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
      <filter id="blur">
          <feGaussianBlur id="blur-filter" in="SourceGraphic" stdDeviation="6,0" /><!--Here you can change the value-->
      </filter>
  </defs>
</svg>
