<section class="rea-products">
    <div class="rui-grid">
        <div class="rui-grid-advanced">
            <div class="rui-grid-row">

                <article class="rui-col-xs-4">
                    <div class="rea-product-content primary">
                        <img
                            class="rea-product-image"
                            src="../../../../assets/photo/home.png"
                            alt="Find your place with our local lifestyle, demographics and market info."
                            width="80"
                            height="80"
                        >
                        <h3 class="rea-product-heading">
                            <a href>Research suburbs</a>
                        </h3>
                        <p class="rea-product-blurb">
                            Find your place with our local lifestyle, demographics and market info.
                        </p>
                        <p class="rea-product-call-to-action">RESEARCH NOW</p>
                        <a
                            class="rea-product-link"
                            href
                            title="RESEARCH NOW"
                        >
                            RESEARCH NOW
                        </a>
                    </div>
                </article>

                <article class="rui-col-xs-4">
                    <div class="rea-product-content secondary">
                        <img
                            class="rea-product-image"
                            src="../../../../assets/photo/home_price.png"
                            alt="We’ll help you find the right home loan at a great rate."
                            width="80"
                            height="80"
                        >
                        <h3 class="rea-product-heading">
                            <a href>We do home loans</a>
                        </h3>
                        <p class="rea-product-blurb">
                            We’ll help you find the right home loan at a great rate.
                        </p>
                        <p class="rea-product-call-to-action">LEARN MORE</p>
                        <a
                            class="rea-product-link"
                            href
                            title="learn more"
                        >
                            learn more
                        </a>
                    </div>
                </article>

                <article class="rui-col-xs-4">
                    <div class="rea-product-content secondary">
                        <img
                            class="rea-product-image"
                            src="../../../../assets/photo/people.png"
                            alt="Track the estimated value of your home and stay in touch with your local market."
                            width="80"
                            height="80"
                        >
                        <h3 class="rea-product-heading">
                            <a href>Track your property</a>
                        </h3>
                        <p class="rea-product-blurb">
                            Track the estimated value of your home and stay in touch with your local market.
                        </p>
                        <p class="rea-product-call-to-action">RECEIVE UPDATES</p>
                        <a
                            class="rea-product-link"
                            href
                            title="RECEIVE UPDATES"
                        >
                            RECEIVE UPDATES
                        </a>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>
