<!-- Footer -->
<footer class="page-footer font-small light-blue accent-2">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <div>

                <!-- Content -->
                <img
                    class="v-log-footer"
                    src="../../../assets/logo/logo.png"
                >

            </div>
            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Find Safe.</h5>
                <p class="v-intro">
                    FindSafe is the largest online flatshare community, helping landlords and agents with portfolios of rooms, single rooms for rent, studios or other shared rentals.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Company</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Home</a>
                    </li>
                    <li>
                        <a href="#!">About</a>
                    </li>
                    <li>
                        <a href="#!">Services</a>
                    </li>
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Get Started</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Rent</a>
                    </li>
                    <li>
                        <a href="#!">News</a>
                    </li>
                    <li>
                        <a href="#!">Blog</a>
                    </li>
                    <li>
                        <a href="#!">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Support</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="fb.com">Chat with us</a>
                    </li>
                    <li>
                        <a href="tel:+840123456789">+84(0)123.456.789</a>
                    </li>
                    <li>
                        <a href="mailto:nguyenlevien0907@gmail.com">E-mail us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Social</h5>

                <ul class="list-unstyled">
                    <li>
                        <mdb-badge default="true">
                            <mdb-icon
                                fab
                                icon="facebook"
                            ></mdb-icon>
                        </mdb-badge>
                        <mdb-badge primary="true">
                            <mdb-icon
                                fab
                                icon="instagram"
                            ></mdb-icon>
                        </mdb-badge>
                        <mdb-badge success="true">
                            <mdb-icon
                                fab
                                icon="snapchat-ghost"
                            ></mdb-icon>
                        </mdb-badge>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/">FindSafe.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
