.v-log-footer {
  width: 200px;
}

.row {
  margin-bottom: 10px;
}

ul {
  li {
    padding-top: 0.5rem;
    font-size: 16px;
  }
}

h5 {
  border-bottom: 3px solid white;
}

mdb-badge {
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.v-intro {
  font-size: 15px !important;
  font-weight: 400 !important;
  letter-spacing: 0.75px !important;
}
