<app-header></app-header>
<app-slide-show></app-slide-show>
<div class="v-body">
    <button
        *ngIf="pageYoffset > 100"
        class="scroll-top"
        mdbTooltip="Scroll to Top"
        placement="top"
        (click)="scrollTop()"
    >
        <i class="pi pi-angle-up"></i>
    </button>
    <div class="v-room-detail">
        <div class="v-image">
            <p-galleria
                #galleria
                [value]="room?.photo"
                [(activeIndex)]="activeIndex"
                [numVisible]="5"
                [containerClass]="galleriaClass()"
                [showThumbnails]="showThumbnails"
                [showItemNavigators]="true"
                [showItemNavigatorsOnHover]="true"
                [circular]="true"
                [autoPlay]="true"
                [transitionInterval]="3000"
            >
                <ng-template
                    pTemplate="item"
                    let-item
                >
                    <img
                        [src]="item.img_url"
                        [ngStyle]="{'width': !fullscreen ? '100%' : '50%', 'height': !fullscreen ? '500px' : '', 'display': !fullscreen ? 'block' : '', 'object-fit': 'cover'}"
                    >
                </ng-template>
                <ng-template
                    pTemplate="thumbnail"
                    let-item
                >
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.img_url">
                    </div>
                </ng-template>
                <ng-template
                    pTemplate="footer"
                    let-item
                >
                    <div class="custom-galleria-footer">
                        <button
                            type="button"
                            pButton
                            icon="pi pi-list"
                            (click)="onThumbnailButtonClick()"
                        >
                            <i
                                class="pi pi-list"
                                mdbTooltip="Show List"
                                style="font-size: 16px"
                            ></i>
                        </button>
                        <span
                            *ngIf="room.photo"
                            class="title-container"
                        >
                            <span>
                                {{activeIndex + 1}}/{{room.photo.length}}
                            </span>
                            <span class="title">{{'image ' + activeIndex+1}}</span>
                            <!-- <span>{{'image ' + activeIndex+1}}</span> -->
                        </span>
                        <button
                            type="button"
                            pButton
                            icon="fullScreenIcon()"
                            (click)="toggleFullScreen()"
                            class="fullscreen-button"
                        >
                            <i
                                class="pi pi-window-maximize"
                                mdbTooltip="Full Screen"
                                style="font-size: 16px"
                            ></i>
                        </button>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="v-detail">
            <div class="v-title">{{room?.title}}</div>
            <div class="v-address">
                {{getAddress(room?.ward, room?.district, room?.city)}}
            </div>
        </div>
        <div class="v-price-social">
            <div class="v-price-total">
                <div class="v-price">
                    <!-- <div class="v-price-title">Price room:</div> -->
                    <div class="v-price-number">{{formatPrice(room?.price)}} / month</div>
                </div>
            </div>
            <div class="v-social">
                <span
                    class="material-icons v-rent-now"
                    mdbTooltip="Request to rent"
                    placement="top"
                    (click)="newRequest()"
                    *ngIf="checkRequest"
                >
                    add_box
                </span>
                <div class="v-share">
                    <div class="c-share">
                        <input
                            class="c-share__input"
                            type="checkbox"
                            id="checkbox"
                        >
                        <label
                            class="c-share__toggler"
                            for="checkbox"
                        >
                            <span class="c-share__icon"></span>
                        </label>

                        <ul
                            class="c-share_options"
                            data-title="Share"
                        >
                            <li>
                                <mdb-icon
                                    fab
                                    icon="facebook"
                                ></mdb-icon>
                                <span (click)="shareLinkClick()">Facebook</span>
                            </li>
                            <li>
                                <mdb-icon
                                    fas
                                    icon="link"
                                ></mdb-icon>
                                <span (click)="copyText()">Copy link</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="v-mark">
                    <span
                        class="material-icons"
                        *ngIf="!checkItem(room?._id)"
                        mdbTooltip="Marks Room"
                        placement="top"
                        (click)="markRoom(room)"
                        style="font-size: 45px;cursor: pointer;margin-top: auto;margin-bottom: auto;margin-left: 20px;"
                    >
                        star_border
                    </span>
                    <span
                        class="material-icons"
                        *ngIf="checkItem(room?._id)"
                        mdbTooltip="Marks Room"
                        placement="top"
                        (click)="delMarkRoom(room)"
                        style="font-size: 45px;cursor: pointer;margin-top: auto;margin-bottom: auto;margin-left: 20px; color: #ffb200;"
                    >
                        star
                    </span>
                </div>
            </div>
        </div>
        <div class="v-icon-room">
            <div
                class="v-time-icon"
                mdbTooltip="Time"
                placement="top"
            >
                <mdb-icon
                    far
                    icon="clock"
                ></mdb-icon>
                : {{room?.time_description}}
            </div>
            <div
                class="v-area-icon"
                mdbTooltip="Area"
                placement="top"
            >
                <mdb-icon
                    fas
                    icon="expand"
                ></mdb-icon>
                : {{formatPrice(room?.area)}}{{room?.area? 'm2' : ''}}
            </div>
            <div
                class="v-area-icon"
                mdbTooltip="Toilet description"
                placement="top"
            >
                <i class="fas fa-toilet"></i>
                : {{room?.toilet}}
            </div>
        </div>
        <div class="v-description">
            <div class="v-description-title">Description:</div>
            <div class="v-description-text">
                <pre>{{room?.description}}
              </pre>
            </div>
        </div>
    </div>
    <div class="v-slidebar">
        <div class="v-owner-info">
            <div class="v-img-profile">
                <img
                    [src]="profile?.imgUrl ? profile?.imgUrl : 'https://www.w3schools.com/howto/img_avatar.png'"
                    alt
                >
            </div>
            <div class="v-profile">
                <div class="v-name">{{profile?.name}}</div>
                <mdb-badge class="v-phone">
                    <a [href]="'tel:+84'+profile?.phonenumber">{{profile?.phonenumber}}</a>
                </mdb-badge>
                <mdb-badge class="v-mail">Send mail</mdb-badge>
            </div>
        </div>
        <div class="v-room-suggest">
            <div class="v-suggest-title">More Room</div>
            <ng-container *ngFor="let item of roomClone">
                <!-- Card -->
                <mdb-card [routerLink]="['/room', item._id]">
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                        [routerLink]="['/room', item._id]"
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            [src]="item.photo[0].img_url"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4 [routerLink]="['/room', item._id]">{{item?.title}}</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            {{formatPrice(item?.price) + ' - ' + '25m2'}}
                        </mdb-card-text>
                        <p>
                            {{getAddress(item?.ward, item?.district, item?.city)}}
                        </p>
                        <div class="v-footer-card">
                            <p>{{item?.date_time}}</p>
                            <span
                                class="material-icons"
                                *ngIf="!checkItem(item?._id)"
                                mdbTooltip="Marks Room"
                                placement="top"
                                (click)="markRoom(item)"
                                style="font-size: 2.35rem;justify-content: flex-end;display: flex;cursor: pointer; z-index: 5;"
                            >
                                star_border
                            </span>
                            <span
                                class="material-icons"
                                *ngIf="checkItem(item?._id)"
                                mdbTooltip="Marks Room"
                                placement="top"
                                (click)="delMarkRoom(item)"
                                style="font-size: 2.35rem;justify-content: flex-end;display: flex;cursor: pointer; z-index: 5; color: #ffb200;"
                            >
                                star
                            </span>
                        </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </ng-container>
        </div>
    </div>
</div>
<p-toast position="bottom-left"></p-toast>
<app-footer></app-footer>
