<div class="main-content v-pB2">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="p-field">
              <label for="username2">Username Login</label>
              <input id="username2" type="username" aria-describedby="username2-help" [disabled]="true" pInputText [(ngModel)]="profile.username_login"/>
              <!-- <small id="username2-help" class="p-invalid">Username is not available.</small> -->
          </div>
            <div class="p-field">
              <label for="firstname">First Name</label>
              <input id="firstName" type="username" aria-describedby="firstName-help" class="" pInputText />
              <!-- <small id="username2-help" class="p-invalid">Username is not available.</small> -->
          </div>
          <div class="p-field">
            <label for="lastname">Last Name</label>
            <input id="lastName" type="username" aria-describedby="firstName-help" class="" pInputText />
            <!-- <small id="username2-help" class="p-invalid">Username is not available.</small> -->
        </div>
          <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="email" aria-describedby="email-help" class="" pInputText />
            <!-- <small id="username2-help" class="p-invalid">Username is not available.</small> -->
        </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div>
              <div class="profile-picture">
                <label class="hoverable" for="fileInput">
                  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                  <div class="hover-text">Choose file</div>
                  <div class="background"></div>
                </label>
                <br/>
                <input id="fileInput" type='file' (change)="onSelectFile($event)">
                <button *ngIf="url" (click)="delete()" class="v-del">Remove Image Profile</button>
              </div>
            </div>
            <div class="v-name">
              <h3 class="title">{{profile.first_name + ' ' + profile.last_name}}</h3>
              <p class="description">
                <b>Username for Login:</b> {{profile.username_login}}
              </p>
              <p class="description text-center v-mT1">
                "Lamborghini Mercy
                <br> Your chick she so thirsty
                <br> I'm in that two seat Lambo"
              </p>
            </div>
          </div>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

