// header
$header-bgr-color: #f0f3f5;
$header-height: 40px;
$header-z-index: 50;
$body-bgr-content: #cfe2f3;
// menu
$menu-z-index: 50;
$menu-width: 165px;
$menu-half-width: 50px;
$menu-bgr-color: #2f353a;
$menu-color: #fff;
$menu-minimizer-bgr-color: #262a2e;
$menu-bgr-info-login: #20a8d8;
$menu-color-info-login: #fff;
$menu-icon-border-color: #e3953a;
$tab-bgr: #76bad2;
$menu-nav-select: #3a4248;
$menu-nav-hover: #20a8d8;
$tab-menu-hover: #dedede;
$tab-menu-select: #ffffff;
$menu-min-height: 34px;
// footer
$footer-height: 50px;
$footer-bgr-color: #f0f3f5;
// border
$border-color: #009cc3;
$border-radius-025: 0.25rem;
$border-radius-05: 0.5rem;
//color
$color-primary: #f73f52;
$color-secondary: #ffea85;
$color-tertiary: #7044ff;
$color-success: #10dc60;
$color-warning: #ffce00;
$color-infor: #fca603;
$color-danger: #f04141;
$color-dark: #222428;
$color-medium: #b0b0b1;
$color-light: #f4f5f8;
$color-label: #009cc3;
// button
$btn-color-default: #0062b2;
$btn-color-hover: #e3953a;
$btn-color-disabled: #797d7f;
$btn-color: #fff;
// datatable
$table-header-bgr: #f0f3f5;
$table-body-bgr: #fff;
$table-body-bgr-old: #f7f7f7;
$table-body-bgr-hover: #afe5f3;
$col-height: 29px;
//scroll
$scroll-bgr-color: #009cc3;
$scroll-bgr-color-hover: #0dcfe91f;
// form
$checkbox-bgr: #009cc3;
$input-bgr: #fff;
$color-text-id: #0008ff;
//input
$background-input-disable: #f0f3f5;
//title
$background-title: #d9d9d9;

$height: 30px;
$body-bgr-content-win: #f6f6f6;
