.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}

.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.classic-admin-card .card-body .float-right .fa {
  font-size: 3rem;
  opacity: 0.5;
}

.classic-admin-card .progress {
  margin: 0;
  opacity: 0.7;
}

.table-ui {
  border: 1px solid #e0e0e9;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.card.card-cascade {
  .view {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
  }
}

:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.product-badge.status-unavailable {
  background: #ffcdd2;
  color: #c63737;
}

.product-badge.status-available {
  background: #c8e6c9;
  color: #256029;
}

:host ::ng-deep .p-field .p-formgrid .p-field-radiobutton label {
  margin-bottom: 0px !important;
}
:host ::ng-deep .p-component {
  font-size: 16px !important;
}
p-dialog {
  font-size: 16px;
}

p-dialog label {
  font-weight: bold;
}

:host ::ng-deep .p-dropdown.p-component.p-dropdown-clearable {
  margin-bottom: 10px !important;
}

.v-price-detail {
  display: flex;
  justify-content: space-between;
  div {
    width: 45%;
  }
}

.v-flexRow {
  display: flex;
  justify-content: space-between;
  div {
    width: 45%;
  }
  div .p-formgrid {
    width: 100%;
  }
}

:host ::ng-deep input.p-inputnumber-input.p-inputtext.p-component.p-filled {
  text-align: right;
}

:host ::ng-deep .btn-default {
  background-color: #FBC02D!important;
}

:host ::ng-deep .btn-success {
  background-color: #b08bf8!important;
}

:host ::ng-deep .btn {
  font-size: 14px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-overflow: ellipsis;
    width: 80%;
  }
}

.v-90px {
  width: 90px !important;
}

.v-110px {
  width: 110px !important;
}

.v-120px {
  width: 120px !important;
}

.v-135px {
  width: 135px !important;
}

.v-150px {
  width: 150px !important;
}

.v-200px {
  width: 200px !important;
}
