<div class="v-customer-said-container">
    <div class="v-title">Our satisfied customer says</div>
    <div id="section6">
        <div class="grid">
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/cafe.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">
                        Very professional everything was kept on a professional level website was of a very high standard.I am happy with the website and service.
                    </div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Dee
                        <strong>Online Fashion</strong>
                    </h4>
                </div>
            </div>
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/accountant.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">Great. no complaints.</div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Erica
                        <strong>Accountant</strong>
                    </h4>
                </div>
            </div>
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/artist.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">
                        Its been nearly 6 weeks since my website came live, and I wanted to thank you for doing a stunning job.
                    </div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Adam
                        <strong>Artist</strong>
                    </h4>
                </div>
            </div>
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/onphone.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">
                        Thanks to everyone for all their hard work. CMS is fantastic to use!!! Thanks
                    </div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Steve
                        <strong>Developer</strong>
                    </h4>
                </div>
            </div>
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/dancer.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">
                        What an amazing system you guys provide. I can see the value of getting to know the console well - I'm impressed and I've come to the right company. This is quite the adventure, thanks for your expertise.
                    </div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Wendy
                        <strong>Dancer</strong>
                    </h4>
                </div>
            </div>
            <div class="col test">
                <img
                    src="https://www.websitedesign.sydney/files/healer.jpg"
                    alt="testimonial image"
                >
                <div class="testText">
                    <div class="inner">
                        WOW!!!! That looks so fantastic! I have already begun asking my collegues to "havealook" at my new web design. I have seen sites that have cost thousands of dollars and they simply dont compare to the high quality product you have created.
                    </div>
                </div>
                <div class="testName">
                    <div class="testIcon">
                        <svg class="icons">&nbsp;</svg>
                        <svg class="icons plus">&nbsp;</svg>
                    </div>
                    <h4>
                        Jill
                        <strong>Healer</strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
