.mt-5 {
  padding-left: 300px;
  background-color: #eeeeee;
  margin-top: 0px !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem;
}

main {
  background-color: #eeeeee;
  margin: 0px !important;
  padding-right: 2rem;
  min-height: calc(100vh - 150px);
}

:host ::ng-deep body {
  background-color: #eeeeee;
  min-width: 1200px;
  overflow: auto;
}

