
    <!--Footer-->
    <footer class="page-footer text-center font-small wow fadeIn  ">

      <!-- Social icons -->
      <div class="pb-4 pt-4">
          <a href="https://www.facebook.com/Pepper.Mint.9798/" target="_blank">
              <mdb-icon fab icon="facebook-f" class="mr-3"></mdb-icon>
          </a>

          <a href="https://twitter.com/NlV_Bad" target="_blank">
              <mdb-icon fab icon="twitter" class="mr-3"></mdb-icon>
          </a>

          <a href="https://www.youtube.com/channel/UCznaILhShJLWM3gi7uEcamQ?view_as=subscriber" target="_blank">
              <mdb-icon fab icon="youtube" class="mr-3"></mdb-icon>
          </a>

          <a href="/" target="_blank">
              <mdb-icon fab icon="google-plus-g" class="mr-3"></mdb-icon>
          </a>

          <a href="/" target="_blank">
              <mdb-icon fab icon="dribbble" class="mr-3"></mdb-icon>
          </a>

          <a href="/" target="_blank">
              <mdb-icon fab icon="pinterest" class="mr-3"></mdb-icon>
          </a>

          <a href="/" target="_blank">
              <mdb-icon fab icon="github" class="mr-3"></mdb-icon>
          </a>

          <a href="/" target="_blank">
              <mdb-icon fab icon="codepen" class="mr-3"></mdb-icon>
          </a>
      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
          © 2020 Copyright:
          <a href="/" target="_blank"> FindSafe.com </a>
      </div>
      <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
