<p-toast></p-toast>
<p-confirmDialog
    key='err'
    header="Error"
    icon="pi pi-exclamation-triangle"
    rejectVisible="false"
></p-confirmDialog>
<p-confirmDialog
    key='info'
    header="Confirm"
    icon="pi pi-exclamation-triangle"
    rejectVisible="false"
></p-confirmDialog>
<div class="card">
    <p-table
        #dt
        [value]="listRoom"
        [rows]="10"
        [paginator]="false"
        [globalFilterFields]="['title','name']"
        [(selection)]="selectedRoom"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Room Has Been Rented</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..."
                    >
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th
                    pSortableColumn="id"
                    class="v-90px"
                >
                    Id
                </th>
                <th
                    pSortableColumn="title"
                    class="v-txt"
                >
                    Title
                    <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th class="v-200px">Image</th>
                <th pSortableColumn="name">Name of the tenant</th>
                <th>Email</th>
                <th class="v-120px">Phonenumber</th>
                <!-- <th
                pSortableColumn="role"
                class="v-110px"
            >
                Status
                <p-sortIcon field="role"></p-sortIcon>
            </th> -->
                <th class="v-110px">Action</th>
            </tr>
        </ng-template>
        <ng-template
            pTemplate="body"
            ngFor
            let-item
            [ngForOf]="listRoom"
            let-i="index"
        >
            <tr>
                <td class="v-90px">{{findIndexById(item._id) + 1}}</td>
                <td>
                    <span
                        mdbTooltip={{item.title}}
                        placement="top"
                    >
                        {{item.title}}
                    </span>
                </td>
                <td>
                    <img
                        [src]="item.photo[0]?.img_url"
                        [alt]="item.photo[0]?.name"
                        width="100"
                        height="100"
                        class="p-shadow-4"
                    >
                </td>
                <td>
                    <span
                        mdbTooltip={{item.user_rent.name}}
                        placement="top"
                        class="v-mR-10px"
                    >
                        {{item.user_rent.name}}
                    </span>
                    <img
                        [src]="item.user_rent.imgUrl ? item.user_rent.imgUrl : 'https://www.w3schools.com/howto/img_avatar.png'"
                        [alt]="item.user_rent.imgUrl"
                        width="100"
                        height="100"
                        class="p-shadow-4"
                    >
                </td>
                <td>{{item.user_rent.email}}</td>
                <td>{{item.user_rent.phonenumber}}</td>
                <!-- <td>
                <span [class]="'product-badge status-' + item.status.replace(' ', '').toLowerCase()">{{item.status}}</span>
            </td> -->
                <td>
                    <!-- <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-rounded p-button-success p-mr-2"
                    (click)="createInvocie(item)"
                    mdbTooltip="Create Invoice"
                    placement="top"
                >Create Invoice</button> -->
                    <button
                        (click)="createInvocie(item)"
                        mdbTooltip="Create Invoice"
                        placement="top"
                    >
                        Create Invoice
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{totalRecord}} requests.
            </div>
        </ng-template>
    </p-table>
    <div style="position: relative;">
        <p-paginator
            rows="10"
            (onPageChange)="loadData($event)"
            [totalRecords]="totalRecord"
        >
            <!-- [rowsPerPageOptions]="[10, 25]" -->
        </p-paginator>
    </div>

</div>
