<p-toast position="bottom-left"></p-toast>
<div class="v-recently-container">
    <div class="v-title">Latest New Rooms</div>
    <div class>
        <carousel
            autoplay="true"
            height="410"
            cellsToShow="4"
            loop="true"
            autoplayInterval=2000
            overflowCellsLimit=2
        >
            <ng-container *ngFor="let item of listRecently">
                <div class="carousel-cell">
                    <!-- Card -->
                    <mdb-card>
                        <div
                            class="view rgba-white-slight waves-light"
                            mdbWavesEffect
                            [routerLink]="['room', item._id]"
                        >
                            <!-- Card img -->
                            <mdb-card-img
                                [src]="item.photo[0].img_url"
                                alt="Imgae room"
                            ></mdb-card-img>
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!-- Card content -->
                        <mdb-card-body>
                            <!-- Title -->
                            <mdb-card-title [routerLink]="['room', item._id]">
                                <h4>{{item.title}}</h4>
                            </mdb-card-title>

                            <!-- Text -->
                            <mdb-card-text>
                                {{getPrice(item.price) + ' - ' + getArea(item.area)}}
                            </mdb-card-text>
                            <p>
                                {{getAddress(item.city, item.district, item.ward)}}
                            </p>
                            <div class="v-footer-card">
                                <p>{{item.date_time}}</p>
                                <span
                                    class="material-icons"
                                    *ngIf="!checkItem(item._id)"
                                    mdbTooltip="Marks Room"
                                    placement="top"
                                    (click)="markRoom(item)"
                                    style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"
                                >
                                    star_border
                                </span>
                                <span
                                    class="material-icons"
                                    *ngIf="checkItem(item._id)"
                                    mdbTooltip="Marks Room"
                                    placement="top"
                                    (click)="delMarkRoom(item)"
                                    style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer; color: #ffb200;"
                                >
                                    star
                                </span>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                    <!-- Card -->
                </div>
            </ng-container>
        </carousel>
    </div>
</div>

<p-confirmDialog
    key='err'
    header="Error"
    icon="pi pi-exclamation-triangle"
    rejectVisible="false"
></p-confirmDialog>
