<div class="v-recently-container">
    <div class="v-title">Latest New Rooms</div>
    <div class>
        <carousel
            autoplay="true"
            height="400"
            cellsToShow="4"
            loop="true"
            autoplayInterval=2000
            overflowCellsLimit=2
        >
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                          {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                          {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                          {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                           {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                          {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="../../../../assets/img/room3.jpg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Cho thuê phòng trọ Nguyễn Lương Bằng, Liên Chiểuaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                          {{price + ' - ' + area}}
                        </mdb-card-text>
                        <p>{{address}}</p>
                       <div class="v-footer-card">
                          <p>{{time}}</p>
                        <i class="pi pi-star-o" style="font-size: 2rem;justify-content: flex-end;display: flex;cursor: pointer;"></i>
                      </div>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
        </carousel>
    </div>
</div>
