<div class="v-recently-container">
    <div class="v-title">Recently Room</div>
    <div class>
        <carousel
            autoplay="true"
            height="400"
            cellsToShow="4"
            loop="true"
            autoplayInterval=2000
            overflowCellsLimit=2
        >
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
                content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
              content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
                content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
            content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="carousel-cell">
                <!-- Card -->
                <mdb-card>
                    <div
                        class="view rgba-white-slight waves-light"
                        mdbWavesEffect
                    >
                        <!-- Card img -->
                        <mdb-card-img
                            src="https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg"
                            alt="Card image cap"
                        ></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <mdb-card-body>
                        <!-- Title -->
                        <mdb-card-title>
                            <h4>Card Title</h4>
                        </mdb-card-title>

                        <!-- Text -->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's
              content.
                        </mdb-card-text>

                        <a
                            href="#"
                            mdbBtn
                            color="primary"
                            mdbWavesEffect
                        >
                            Button
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
        </carousel>
    </div>
</div>
